body {
  margin: 0px;
}

.header {
  /*  */
}

.header-top {
  height: 50px;
  background-color: #FFF;
}

.header-bottom {
  height: 200px;
  background-color: #DDD;
}

.logo { padding: 10px; }
.logo > img {
  display: block;
  height: 100px;
  margin: auto;
}


.container {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  border: 1px solid #DDD;
  padding: 20px;
}
